# Binaries
/server
/acme-dns-proxy
/acme-dns-httpreq-proxy
/legate
/dist/
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.txt
coverage.out

# IDE & OS
.idea/
.vscode/
*.swp
*~
.DS_Store
